body {
    margin: 0;
    background: white;
    text-align: justify;
    padding: 100px;
}

.title {
    text-align: left;
    color: RoyalBlue;
}

table {
    margin: 0 auto; /* Center the table horizontally */
    max-width: 75%; /* Limit the maximum width of the table */
    width: auto; /* Allow the table to adjust its width based on content */
    border-collapse: collapse; /* Collapse table borders */
}

table th,
table td {
    border: 1px solid #ddd; /* Add borders to table cells */
    padding: 8px; /* Padding inside table cells */
    /* Retain the existing text alignment */
}

table th {
    text-align: left; /* Align text inside table headers to the left */
}

table td {
    text-align: left; /* Align text inside table data cells to the left */
}